<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>阿里智游旅游分销平台alizhiyou.com</title>
    <link rel="stylesheet" href="//g.alicdn.com/sui/sui3/0.0.18/css/sui.min.css">
  </head>
  <body>
    <h1>亲，稍等片刻，我正在努力加载...</h1>
    <p></p>
    <script type="text/javascript" src="//g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="//g.alicdn.com/sui/sui3/0.0.18/js/sui.min.js"></script>
    <script type="text/javascript">
    $(function(){
        //跳转到业务模块
        setTimeout(function(){window.location.href = '{$url}';},2000);
    });
    </script>
  </body>
</html>