{layout name="layout" /}
  
  <div class="header">
  <ul class="steps-round step-3">
    <li class="current">
      <div class="wrap">
        <div class="round">1</div>
      </div>
      <label>基本信息</label>
    </li>
    <li class="current">
      <div class="wrap">
        <div class="round">2</div>
      </div>
      <label>联系人信息</label>
    </li>
    <li>
      <div class="wrap">
        <div class="round">3</div>
      </div>
      <label>完成</label>
    </li>
  </ul>
  </div>
  <div class="main">
    <form class="form-horizontal l_ajaxForm" action="{:url('index/crm/add_contact');}" method="post">
	  <div class="form-group">
	    <label class="col-sm-2 control-label">营销负责人</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="leader" placeholder="如张三">
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-2 control-label">职务</label>
	    <div class="col-sm-10 row">
	      <div class="col-xs-2">
			    <select class="form-control input-lg" name="position">
			      <option value="1">老板</option>
			      <option value="2">总经理</option>
			      <option value="3">副总经理</option>
			      <option value="4">部门经理</option>
			      <option value="5">员工</option>
			    </select>
		  </div>
		  <div class="col-xs-5">
		    <input type="text" class="form-control" name="phone" placeholder="电话">
		  </div>
	    </div>
	  </div>
	  <input type="hideen" name="crm_id" value="{$id}">
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-primary l_ajax_submit_btn">提交</button>
	    </div>
	  </div>
	</form>
  </div>