<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录 - 阿里智游,全网旅游分销平台 Alizhiyou.com </title>
    <link rel="icon" href="https://www.alizhiyou.com/static/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://www.alizhiyou.com/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//g.alicdn.com/sui/sui3/0.0.18/css/sui.min.css">
    <link rel="stylesheet" href="/static/css/login.v2.css">
    <script type="text/javascript">
    	var _global = {$global};
    </script>
  </head>
  <body>
  <div class="container">